body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #3d3d3d;
    position: relative;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    margin-bottom: 30px;
}

.site_name {
    font-size: 60px;
    font-weight: 700;
    color: aliceblue;
}

.file_upload {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 70%;
}

.left_pane, .right_pane {
    margin-left: 5%;
    margin-right: 5%;
    border: 5px dashed;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 45%;
    height: 90%;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-color: #bf3387;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    color: #bf3387;
    transition: background-color 0.3s, box-shadow 0.3s;
}

iframe {
    position: absolute;
    z-index: 1;
    width: 95%;
    height: 95%;
}